.yj-header{
  padding:0 16px;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  .yj-logo {
    margin-top:8px;
    height: 48px;
    font-size: 0;
    img {
      vertical-align: top;
      max-height: 100%;
    }
  }
}
